
.btn {
  padding: .5em 1em;
  color: var(--brand-contrast);
  background-color: var(--brand);
  border-radius: 4px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  &:hover {
    background-color: var(--brand-hover);
  }
}

a, .link {
  color: var(--brand);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}